<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Everyday Heroes</title>
	<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
            <li><a href="#">My Account</a></li>
            <li><a href="#">My Matches</a></li>
            <li><a href="#">Logout</a></li>
      </ul>
  </div><!-- /.container-fluid -->
</nav>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Full Stack Developers
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">

      <div class="container">
      	<h3>Full Stack Developers</h3>
      	<p>Web developers design and create websites. They are responsible for the look of the site. They are also responsible for the site’s technical aspects, such as its performance and capacity, which are measures of a website’s speed and how much traffic the site can handle. In addition, web developers may create content for the site.</p>
      	<a href="http://www.bls.gov/ooh/computer-and-information-technology/web-developers.htm" target="_blank">Click here for more information!</a>
      </div>

        <div class="container">
        	<a href="profile.html">
	        	<div class="row">
	        		<div class="col-xs-4">
	        		<br>
	        		<img class="img-responsive" src="../imgs/melissa.jpg">
		        	</div>	
	        		<div class="col-xs-8">
	        			<h3>Melissa Wimberly</h3>
	        			<p>Web Developer at Scholastic</p>
		        	</div>	
	        	</div>	
        	</a>
        </div>
        <br>
        <div class="container">
        	<div class="row">
        		<div class="col-xs-4">
        		<br>
        			<img class="img-responsive" src="../imgs/jason.jpg">
	        	</div>	
        		<div class="col-xs-8">
        			<h3>Jason Allen</h3>
        			<p>Freelance Web Developer <br>
        			<i>New York City, NY</i></p>
	        	</div>	
        	</div>	
        </div>
<br>
        <div class="container">
        	<div class="row">
        		<div class="col-xs-4">
        			<br>
        			<img class="img-responsive" src="../imgs/josh.jpg">
	        	</div>	
        		<div class="col-xs-8">
        			<h3>Joshua Wu</h3>
        			<p>Freelance Web Developer <br>
        			<i>New York City, NY</i></p>
	        	</div>	
        	</div>	
        </div>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

</body>
</html>