<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Everyday Heroes</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap-3.3.6-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../styles/main.css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../scripts/main.js"></script>
</head>
<body id="profile">
	<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
	<div class="row panel">
		<div class="col-md-4 bg_blur ">
		</div>
        <div class="col-md-8  col-xs-12">
           <!-- <img src="../imgs/missy_prof-pic.jpg" class="img-thumbnail picture hidden-xs" />
           <i -->mg src="../imgs/missy_prof-pic.jpg" class="img-thumbnail visible-xs picture_mob" />
           <div class="header">
                <h1>Melissa Wimberly</h1>
                <h4>Web Developer</h4>
                <span>Hi! I'm a Web Developer with a passion for learning new things. I'm proficient in creating projects in Ruby on Rails, JavaScript, HTML and CSS, SASS. I'm confident in my ability to learn any new language or framework and I enjoy both ends of the stack. I'm a team player who thrives in unfamiliar situations, and I know I can be an asset to any team.</span>
           </div>
        </div>
    </div>   
    
	<div class="row nav">    
        <div class="col-md-4"></div>
        <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-weixin fa-lg"></i> 16</div>
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-heart-o fa-lg"></i> 14</div>
            <div class="col-md-4 col-xs-4 well"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
        </div>
    </div>
</div>





		<!-- <div class="job-tile">
			<h2>Web Developer</h2>
		</div>
		<div class="prof-pic">
			<img src="../imgs/missy_prof-pic.jpg">
		</div>
		<div class="blurb">
			<p>Hi! I'm a Web Developer with a passion for learning new things. I'm proficient in creating projects in Ruby on Rails, JavaScript, HTML and CSS, SASS. I'm confident in my ability to learn any new language or framework and I enjoy both ends of the stack. I'm a team player who thrives in unfamiliar situations, and I know I can be an asset to any team.
</p>
</div> -->
</body>
</html>