<div class="container">
	<div class="well">
		<p class="bg-success">Based on your interests, we have a pretty good idea of hereos you should check out, but first we have a few more questions!</p>

		<p>Mark your interest in each activity listed below. Decide whether you think you might like to do the activity, dislike doing it, or feel neutral about it.</p>

		<p>Don't worry if you have the skills or training to do an activity, or how much money you might make. Simply consider whether you might enjoy it or not!</p>
	</div>
</div>

<div class="container">
	
	
</div>

Use precision machines to build custom metal parts     
Analyze the structure of molecules     
Do scientific experiments     
Design a magazine cover     
Paint a portrait     
Network at a business conference     
Track monthly expenses for a company     
Plan a marketing strategy for a new company     
Review financial records for accuracy     
Install a hardwood floor     
Repair an air conditioning system     
Research the properties of nuclear energy     
Research a new medicine