/*Main Page*/
#superheros-logo{
	margin: 0 auto;
}


/*Signin Page*/
#signin .container{
	padding: 30px;
}

#signin .login-btn{
	border-radius: 4px;
	border: 0;
	padding: 10px 0;
	margin-top: 15px;
	width: 80%;
}

#signin .login-submit{
	text-align: center;
}

#quiz-loader {
	display: none;
	font-size: 75px;
}

#quiz-loader i.fa-spinner{
	margin: 5% 50%;
}

#quiz-loader h1{
	text-align: center;
	margin-top: 10%;
}